trigger:
  branches:
    include:
      - main

pool:
  name: 'todo-app-infra'

parameters:
  - name: Environment
    type: string
    default: dev
    values:
      - dev
      - qa
      - prod

stages:
  - stage: TerraformInit
    displayName: "Terraform Init, Validate, Plan"
    jobs:
      - job: TerraformInit
        displayName: "Terraform Init"
        steps:
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
              backendServiceArm: 'shahedsvc'
              backendAzureRmResourceGroupName: 'shahed-dev-01'
              backendAzureRmStorageAccountName: 'shahedstg779'
              backendAzureRmContainerName: 'tfscontainer'
              backendAzureRmKey: 'dev.terraform.tfstate'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(System.DefaultWorkingDirectory)/dev'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
              environmentServiceNameAzureRM: 'shahedsvc'

  - stage: TerraformApply
    displayName: "Terraform Apply"
    dependsOn: TerraformInit
    jobs:
      - job: TerraformApply
        displayName: "Terraform Apply"
        steps:
          # Init must run here again because it's a fresh agent
          - task: TerraformTask@5
            displayName: 'Terraform Init Before Apply'
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
              backendServiceArm: 'shahedsvc'
              backendAzureRmResourceGroupName: 'shahed-dev-01'
              backendAzureRmStorageAccountName: 'shahedstg779'
              backendAzureRmContainerName: 'tfscontainer'
              backendAzureRmKey: 'dev.terraform.tfstate'
              ensureBackend: true

          - task: TerraformTask@5
            displayName: 'Terraform Apply'
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
              environmentServiceNameAzureRM: 'shahedsvc'
              autoApprove: true

