trigger:
  branches:
    include:
      - main

pool:
  name: 'todo-app-infra'

parameters:
  - name: Environment
    type: string
    default: dev
    values:
      - dev
      - qa
      - prod

stages:
  - stage: TerraformInit
    displayName: "Terraform Init, Validate, Plan"
    jobs:
      - job: TerraformInit
        displayName: "Terraform Init"
        steps:
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/$(Environment)'
              backendServiceArm: 'shahedsvc'
              backendAzureRmResourceGroupName: 'shahed-$(Environment)-01'
              backendAzureRmStorageAccountName: 'shahedstg779'
              backendAzureRmContainerName: 'tfscontainer'
              backendAzureRmKey: '$(Environment).terraform.tfstate'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(System.DefaultWorkingDirectory)/$(Environment)'

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/$(Environment)'
              environmentServiceNameAzureRM: 'shahedsvc'

  - stage: TerraformApply
    displayName: "Terraform Apply"
    dependsOn: TerraformInit
    jobs:
      - job: TerraformApply
        displayName: "Terraform Apply"
        steps:
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/$(Environment)'
              environmentServiceNameAzureRM: 'shahedsvc'
              allowTelemetryCollection: true
              ensureBackend: true
              autoApprove: true
