trigger: none
pool: todo-app-framework

stages:
  - stage: Terraform init
    displayName: "Terraform init"
    jobs:
      - job: TerraformInit
        displayName: "Terraform init"
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/todo-app-framework/dev/'
            backendServiceArm: 'todo-app-framework'
            backendAzureRmStorageAccountName: 'shahed490'
            backendAzureRmContainerName: 'shahed'
            backendAzureRmKey: 'dev.terraform.tfstate'
      
  - stage: Terraform Validata 
    displayName: "Terraform validate"
    jobs:
      - job: TerraformValidate
        displayName: "Terraform validate"
        steps:
         - task: TerraformTask@5
           inputs:
             provider: 'azurerm'
             command: 'validate'
             workingDirectory: '$(System.DefaultWorkingDirectory)/todo-app-framework/dev/'

  - stage: Terraform plan
    displayName: "Terraform plan"
    jobs:
      - job: TerraformPlan
        displayName: "Terraform validate"
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/todo-app-framework/dev/'
            environmentServiceNameAzureRM: 'todo-app-framework'
 

        - 
         