trigger:
  branches:
    include:
      - main
    
      
      

pool:
  name: 'todo-app-infra'

parameters:
  - name: Environment
    type: string
    default: dev
    values:
      - dev
      - qa
      - prod

stages:
  # Stage 1: Terraform Init
  - stage: TerraformInit
    displayName: "Terraform Init"
    jobs:
      - job: TerraformInit
        displayName: "Terraform Init"
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
            backendServiceArm: 'todo-app-infra'
            backendAzureRmResourceGroupName: 'shahed-dev-01'
            backendAzureRmStorageAccountName: 'shahed490'
            backendAzureRmContainerName: 'shahed'
            backendAzureRmKey: 'dev.terraform.tfstate'
        



