trigger:
  branches:
    include:
      - main

pool:
  name: 'todo-app-infra'

parameters:
  - name: Environment
    type: string
    default: dev
    values:
      - dev
      - qa
      - prod

jobs:
  - job :
    displayName: Terraform init
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/dev/'
        backendServiceArm: 'shahedsvc'
        backendAzureRmResourceGroupName: 'shahed-dev-01'
        backendAzureRmStorageAccountName: 'shahedstg881'
        backendAzureRmContainerName: 'tfscontainer'
        backendAzureRmKey: 'dev.terraform.tfstate'
  - job: 
    displayName: Terrafrom validate
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
  - job: 
    displayName: Terraform plan
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
        environmentServiceNameAzureRM: 'shahedsvc'