trigger: 
  branches:
    include:
      - main

pool: todo-app-infra

parameters:
  - name: Environment
    type: string
    default: dev
    values:
      - dev
      - prepod
      - prod

stages:
# ---------------- Terraform Init ----------------
  - stage: terrafromInit
    displayName: Terraform init
    jobs:
      - job: TerraformInit
        displayName: Terraform init
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
            backendServiceArm: 'shahedado'
            backendAzureRmResourceGroupName: 'libo-rg'
            backendAzureRmStorageAccountName: 'libo4520'
            backendAzureRmContainerName: 'tfscontainer'
            backendAzureRmKey: 'preprod.terraform.tfstate'

# ---------------- Terraform Validate & Plan ----------------
  - stage: TerraformValidate
    displayName: "Terraform Init, Validate, Plan"
    dependsOn: terrafromInit
    jobs:
      - job: TerraformValidate
        displayName: terraform validate
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
            backendServiceArm: 'shahedado'
            backendAzureRmResourceGroupName: 'libo-rg'
            backendAzureRmStorageAccountName: 'libo4520'
            backendAzureRmContainerName: 'tfscontainer'
            backendAzureRmKey: 'preprod.terraform.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/dev'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
            environmentServiceNameAzureRM: 'shahedado'

# ---------------- TruffleHog Secret Scan ----------------
  - stage: TruffleHogScan
    displayName: "Secret Scan (TruffleHog)"
    dependsOn: TerraformValidate
    jobs:
      - job: TruffleHogScan
        displayName: TruffleHog Secret Scan
        steps:
        - checkout: self

        - script: |
            echo "Installing TruffleHog..."
            curl -sSfL https://raw.githubusercontent.com/trufflesecurity/trufflehog/main/scripts/install.sh | sh

            echo "Running TruffleHog secret scan..."
            trufflehog filesystem $(System.DefaultWorkingDirectory) --fail
          displayName: Run TruffleHog Scan

# ---------------- Terraform Lint ----------------
  - stage: TerraformScan
    dependsOn: TruffleHogScan
    displayName: Terraform Scan
    jobs:
      - job: TerraformScan
        displayName: TFLint Scan
        steps:
        - powershell: |
              $env:PATH = "$(Agent.ToolsDirectory)\tflint;$env:PATH"
              tflint --version

        - powershell: |
              Write-Host "Using directory: $(System.DefaultWorkingDirectory)"
              cd "$(System.DefaultWorkingDirectory)"
              tflint --init
              tflint
              Write-Host "TFLint scan completed (warnings/errors ignored)."
              exit 0
          displayName: TFLint Scan

# ---------------- Manual Approval ----------------
  - stage: ManualValidation
    displayName: "Manual Validation"
    dependsOn: TerraformScan
    jobs:
      - job: WaitForApproval
        displayName: "Manual Validation"
        pool: server
        steps:
        - task: ManualValidation@1
          inputs:
            instructions: "Please review and approve before continuing."

# ---------------- Terraform Apply ----------------
  - stage: TerraformApply
    displayName: Terraform apply after scan the code
    dependsOn: ManualValidation
    jobs:
      - job: TerraformApply
        displayName: Terraform apply
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
            backendServiceArm: 'shahedado'
            backendAzureRmResourceGroupName: 'libo-rg'
            backendAzureRmStorageAccountName: 'libo4520'
            backendAzureRmContainerName: 'tfscontainer'
            backendAzureRmKey: 'preprod.terraform.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
            environmentServiceNameAzureRM: 'shahedado'
