trigger:
  branches:
    include:
      - main

variables:
  - group: shahed_variable
  - name:  STORAGE_ACCOUNT_NAME
    value: 'shahedstate'
parameters:
  - name: Environment
    type: string
    default: dev
    values:
      - dev
      - prepod
      - prod 

pool:
  name: 'todo-app-infra'

stages:
  - stage: TerraformInit
    displayName: "Terraform Init, Validate, Plan"
    jobs:
      - job: TerraformInit
        displayName: "Terraform Init, Validate, Plan"
        steps:
          - task: TerraformTask@5
            displayName: 'Terraform Init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
              backendServiceArm: 'shahedado'
              backendAzureRmResourceGroupName: 'shahed-rg'
              backendAzureRmStorageAccountName: 'shahedstg1920'
              backendAzureRmContainerName: 'tfscontainer'
              backendAzureRmKey: 'dev.terraform.tfstate'
              ensureBackend: true

          - task: TerraformTask@5
            displayName: 'Terraform Validate'
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(System.DefaultWorkingDirectory)/dev'

          - task: TerraformTask@5
            displayName: 'Terraform Plan'
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
              environmentServiceNameAzureRM: 'shahedado'

  - stage: TerraformApply
    displayName: "Terraform Apply"
    dependsOn: TerraformInit
    jobs:
      - job: TerraformApply
        displayName: "Terraform Apply"
        steps:
          - task: TerraformTask@5
            displayName: 'Terraform Init Before Apply'
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
              backendServiceArm: 'shahedado'
              backendAzureRmResourceGroupName: 'shahed-rg'
              backendAzureRmStorageAccountName: 'shahedstg1920'
              backendAzureRmContainerName: 'tfscontainer'
              backendAzureRmKey: 'dev.terraform.tfstate'
              ensureBackend: true

          - task: TerraformTask@5
            displayName: 'Terraform Apply'
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/dev'
              environmentServiceNameAzureRM: 'shahedado'
              autoApprove: true
